<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>300</key>
	<string>Multiple Choices</string>
	<key>301</key>
	<string>Moved Permanently</string>
	<key>404</key>
	<string>Not Found</string>
	<key>402</key>
	<string>Payment Required</string>
	<key>403</key>
	<string>Forbidden</string>
	<key>405</key>
	<string>Method Not Allowed</string>
	<key>406</key>
	<string>Not Acceptable</string>
	<key>407</key>
	<string>Proxy Authentication Required</string>
	<key>408</key>
	<string>Request Timeout</string>
	<key>409</key>
	<string>Conflict</string>
	<key>410</key>
	<string>Gone</string>
	<key>411</key>
	<string>Length Required</string>
	<key>412</key>
	<string>Precondition Failed</string>
	<key>413</key>
	<string>Payload Too Large</string>
	<key>414</key>
	<string>URI Too Long</string>
	<key>415</key>
	<string>Unsupported Media Type</string>
	<key>416</key>
	<string>Range Not Satisfiable</string>
	<key>417</key>
	<string>Expectation Failed</string>
	<key>426</key>
	<string>Upgrade Required</string>
	<key>428</key>
	<string>Precondition Required</string>
	<key>429</key>
	<string>Too Many Requests</string>
	<key>431</key>
	<string>Request Header Fields Too Large</string>
	<key>451</key>
	<string>Unavailable For Legal Reasons</string>
	<key>500</key>
	<string>Internal Server Error</string>
	<key>501</key>
	<string>Not Implemented</string>
	<key>502</key>
	<string>Bad Gateway</string>
	<key>503</key>
	<string>Service Unavailable</string>
	<key>504</key>
	<string>Gateway Timeout</string>
	<key>505</key>
	<string>HTTP Version Not Supported</string>
	<key>506</key>
	<string>Variant Also Negotiates</string>
	<key>510</key>
	<string>Not Extended</string>
	<key>511</key>
	<string>Network Authentication Required</string>
	<key>103</key>
	<string>Checkpoint</string>
	<key>420</key>
	<string> Method Failure or Enhance Your Calm</string>
	<key>450</key>
	<string>Blocked by Windows Parental Controls (Microsoft)</string>
	<key>498</key>
	<string>Invalid Token (Esri)</string>
	<key>509</key>
	<string>Bandwidth Limit Exceeded</string>
	<key>530</key>
	<string>Site is frozen</string>
	<key>440</key>
	<string>Login Time-out</string>
	<key>449</key>
	<string>Retry With</string>
	<key>444</key>
	<string>No Response</string>
	<key>495</key>
	<string>SSL Certificate Error</string>
	<key>496</key>
	<string>SSL Certificate Required</string>
	<key>499</key>
	<string>Client Closed Request</string>
	<key>520</key>
	<string>Unknown Error</string>
	<key>521</key>
	<string>Web Server Is Down</string>
	<key>522</key>
	<string>Connection Timed Out</string>
	<key>523</key>
	<string>Origin Is Unreachable</string>
	<key>524</key>
	<string>A Timeout Occurred</string>
	<key>525</key>
	<string>SSL Handshake Failed</string>
	<key>526</key>
	<string>Invalid SSL Certificate</string>
</dict>
</plist>
